html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    background-color: dodgerblue;
    padding: 0;
    padding-bottom: 7em;
    box-sizing: border-box;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    background-color: white;
}

td,
th {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}

a:link,
a:visited {
    text-decoration: none;
    color: blue;
}

header {
    background-color: white;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
}

.article {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 10px;
}

.article h2 {
    text-align: center;
}

.text-left {
    margin-left: 50px;
}

.formLogin {
    display: block;
    background-color: bisque;
    margin-top: 100px;
    width: 280px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.formLogin p {
    padding-top: 10px;
    padding-left: 10px;
}

.bouton {
    display: inline-block;
    padding: 10px 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4ABDE4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.bouton:hover {
    background-color: dodgerblue;
}

.bouton:active {
    background-color: dodgerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.message {
    text-align: center;
}

.formArticle {
    display: block;
    width: 800px;
    height: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    text-align: center;
}