@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Semibold.ttf') format('ttf');
}

html {
    height: 100%;
}

body {
    background-image: url("../img/wallpaper.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', Arial, serif;
    position: relative;
    min-height: 100%;
    margin: 0;
    background-color: dodgerblue;
    padding: 0;
    padding-bottom: 7em;
    box-sizing: border-box;
}

nav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #222222;
    color: white;
    z-index: 1;
}

nav>div {
    display: block;
    margin: 30px;
}

nav a:link,
nav a:visited,
footer a:link,
footer a:visited {
    justify-content: space-between;
    color: white;
    margin-left: 10px;
}

a:link,
a:visited {
    text-decoration: none;
    /*color: blue;*/
}

.button {
    background-color: DodgerBlue;
    border-radius: 5px;
    color: white;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
}

.icon-check-square-o {
    color: green;
}

#contents {
    margin-top: 200px;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    background-color: white;
}

td,
th {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}

.article,
.comments,
.formComments,
.formLogin,
.messageLogin {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: 10px;
    width: 600px;
    border-bottom: 6px solid DodgerBlue;
    background-color: lightgrey;
    border-radius: 10px 10px 10px 10px;
}

.title,
.commentHeader,
.authorComment,
.titleMessage {
    display: block;
    text-align: center;
    background-color: #222222;
    height: 50px;
    margin-right: -5px;
    margin-left: -5px;
    margin-top: -25px;
    border-radius: 10px 10px 0 0;
}

.title h2 {
    padding-top: 10px;
}

.title h2 a,
.commentHeader h3,
.authorComment h3,
.titleMessage h3 {
    color: white;
}

.urlTitle {
    color: black;
}

.commentHeader h3,
.authorComment h3,
.titleMessage h3 {
    padding-top: 14px;
}

.articleText,
.commentText,
.formPseudo label,
.formContent label {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.textButton a,
.textButton input,
tr a {
    color: white;
}

.buttonReport,
.buttonUpdate,
.buttonDelete,
.buttonLogin {
    border-radius: 5px;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
}

.buttonReport,
.buttonLogin {
    background-color: DodgerBlue;
}

.buttonUpdate {
    background-color: #ffbf00;
}

.buttonDelete {
    background-color: Crimson;
}

.formPseudo,
.formContent {
    padding-top: 20px;
}

.formPassword {
    padding-top: 10px;
    padding-bottom: 10px;
}

.formContent {
    padding-bottom: 10px;
}

textarea {
    height: 200px;
    width: 300px;
}

.formSubmit,
.formPseudo,
.formContent,
.formLogin,
.contentMessage {
    text-align: center;
}

.buttonSubmit {
    background-color: DodgerBlue;
    border-radius: 5px;
    color: white;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
}

.formArticle {
    display: block;
    width: 800px;
    height: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#mceu_11 {
    z-index: -1;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #222222;
    color: white;
    text-align: center;
}