@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Semibold.ttf') format('ttf');
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', Arial, serif;
    position: relative;
    min-height: 100%;
    margin: 0;
    background-color: dodgerblue;
    padding: 0;
    padding-bottom: 7em;
    box-sizing: border-box;
}

nav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #222222;
    color: white;
    z-index: 1;
}

nav>div {
    display: block;
    margin: 30px;
}

nav a:link,
nav a:visited,
footer a:link,
footer a:visited {
    justify-content: space-between;
    color: white;
    margin-left: 10px;
}

a:link,
a:visited {
    text-decoration: none;
}

.button {
    background-color: DodgerBlue;
    border-radius: 5px;
    color: white;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
}

.icon-check-square-o {
    color: green;
}

#contents {
    margin-top: 200px;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    background-color: white;
}

.titleManage {
    background-color: #222222;
    color: white;
    height: 50px;
    border-radius: 10px 10px 0 0;
    font-size: 22px;
    padding-top: 14px;
}

.manageComment {
    margin-top: 50px;
}

td,
th {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}

.article,
.comments,
.formComments,
.formLogin,
.messageLogin,
.formArticle,
.pageError {
    background-color: white;
    padding: 5px;
    margin: 10px auto 80px;
    width: 600px;
    border-bottom: 6px solid DodgerBlue;
    background-color: lightgrey;
    border-radius: 10px 10px 10px 10px;
}

.formAdd label,
.formAuthor {
    padding-bottom: 10px;
}

.title,
.commentHeader,
.authorComment,
.titleMessage,
.formTitle,
.titleError {
    display: block;
    text-align: center;
    background-color: #222222;
    height: 50px;
    margin-right: -5px;
    margin-left: -5px;
    margin-top: -25px;
    border-radius: 10px 10px 0 0;
}

.title h2 {
    padding-top: 10px;
}

.title h2 a,
.commentHeader h3,
.authorComment h3,
.titleMessage h3,
.formTitle h3,
.titleError h3 {
    color: white;
}

.urlTitle {
    color: black;
}

.commentHeader h3,
.authorComment h3,
.titleMessage h3,
.formTitle h3,
.titleError h3 {
    padding-top: 14px;
}

.articleText,
.commentText,
.formPseudo label,
.formContent label,
.titleArticle {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.textButton {
    padding-bottom: 20px;
}

.textButton a,
.textButton input,
tr a {
    color: white;
}

.buttonReport,
.buttonUpdate,
.buttonDelete,
.buttonLogin {
    border-radius: 5px;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
}

.buttonReport,
.buttonLogin {
    background-color: DodgerBlue;
}

.buttonUpdate {
    background-color: #ffbf00;
}

.buttonDelete {
    background-color: Crimson;
}

.formPseudo,
.formContent {
    padding-top: 20px;
}

.formPassword {
    padding-top: 10px;
    padding-bottom: 10px;
}

.textError {
    padding-top: 20px;
    padding-bottom: 20px;
}

.formContent {
    padding-bottom: 10px;
}

textarea {
    height: 200px;
    width: 300px;
}

.formSubmit,
.formPseudo,
.formContent,
.formLogin,
.contentMessage,
.formArticle,
.textError {
    text-align: center;
}

.buttonSubmit {
    background-color: DodgerBlue;
    border-radius: 5px;
    color: white;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #222222;
    color: white;
    text-align: center;
}

@media all and (min-width: 1025px) {
    body {
        background-image: url("../img/wallpaper.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
    }
}


/* CSS pour tablette & mobile */

@media all and (max-width: 1024px) {
    nav {
        flex-direction: column;
    }
    nav>div {
        margin: 10px;
    }
    .navName {
        text-align: center;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
    }
    .menu a {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .button {
        width: 34%;
    }
    #contents {
        margin-top: 300px;
    }
    .article,
    .comments,
    .formComments,
    .formLogin,
    .messageLogin,
    .formArticle {
        width: 80%;
    }
    .textButton {
        display: flex;
    }
    .articleText,
    .commentText,
    .formPseudo label,
    .formContent label,
    .titleArticle {
        padding-left: 6px;
    }
    .textButton a {
        text-align: center;
        margin-right: 2px;
    }
    td,
    th {
        display: flex;
        flex-flow: row wrap;
    }
    table {
        width: 80%;
    }
    textarea {
        width: 90%;
    }
}